		    body{  /*定义网页窗口属性，清除页边距，定义居中显示*/
				padding: 0px;
				margin: 0px auto;
				text-align: center;
				background-color: #eee;
				font-size:62.5%;
				background:url(https://api.dujin.org/bing/1920.php);
				background-repeat: no-repeat;
			}
			#wrap{  /*固定宽度，并居中显示*/
				width: 780px;
				margin: 0px auto;
			}
			#main{
				width: 100%;
				height: 400px;
			}
			#timeShow{           /*time*/
                width: 20em;
                height: 4em;
				float: middle;
				font-weight:bold;
				font-size:40px;
				color:white;
                border: 0px solid gray;
				text-shadow: 5px 0px 15px black,-5px 0px 15px white;
				position: absolute;
				left: 0; right: 0;
				top: 2em;
				margin:auto;
				perspective:1200px;
            }
			#sdiv{  /*定义栏样式*/
				float:middle;
				overflow:hidden;
				background-color: #eee;
				font-weight:bold;
				font-size:20px;
				opacity: 0.75;
				border:hidden;
				text-align:center;
				border-radius: 1em;
				outline:none;
				box-shadow: 0px 10px 25px black , 0px -10px 25px white;
				position:absolute;left:38%;right:38%;top:8em;
				margin:0 auto;
			}
			#sin{  /*定义搜索框样式*/
				height:100%;
				float:middle;
				overflow:show;
				background-color: #FFFFFF
				font-weight:bold;
				font-size:33px;
				opacity: 0.75;
				border:hidden;
				text-align:center;
				outline:none;
				
			}
			#sbu{  /*定义搜索按钮样式*/
				float:middle;
				overflow:hidden;
				background-color: #FFFFFF
				font-weight:bold;
				border-radius: 25px;
				border:hidden;
				text-align:center;
				background:rgba(255,255,255,0.65);
				
				
			}
			#homepage{  /*定义:主页div*/
				width:40em;
				float:middle;
				overflow:hidden;
				background-color: #eee;
				background:rgba(255,255,255,0.15);
				border-radius: 55px;
				box-shadow: 0px 10px 20px black;
				position: absolute;
				left: 0; right: 0;
				top: 0;
				margin: auto;
			}
			#pageicons{  /*定义:主页icons*/
				float: middle;
				overflow: hidden;
				background-color: #eee;
				text-align: center;
				font-weight: bold;
				border-radius:25px;
				background:rgba(255,255,255,0.25);

			}
			#footer{  /*定义页脚样式*/
				width: 100%;
				clear: both;  /*清除左右浮动的元素*/
				box-shadow:0px -1em 6px black;
				filter: blur(0px);
				position:fixed;bottom:0;
				background-color:#eee;
				border-radius:25px 25px 0px 0px;
				opacity:0.75;
			}